In [2]:
import torch
from torch._C import device
import torchvision
import torchvision.transforms as transforms
import torch.nn.functional as F
import torch.nn as nn
import glob
import os
from tqdm import tqdm
from sklearn import preprocessing
import pandas as pd
import numpy as np
from torch.utils.data import Dataset
import torch.optim as optim
import matplotlib.pyplot as plt

In [3]:
tf = "DUXA"

In [21]:
pos_dfs = []
for f in glob.glob('snake/selex_seqs/'+tf+'*.flt.fa'):
    df = pd.read_csv(f,index_col=None,header=None).iloc[1::2]
    pos_dfs.append(df)

pos_set = pd.concat(pos_dfs, axis=0, ignore_index=True)

pos_file = pos_file[0]
neg_file = glob.glob('snake/random_seqs/'+tf+'*_4_*.flt.fa')
neg_file = neg_file[0]
 
neg_set = pd.read_csv(neg_file,header=None).iloc[1::2]

pos_set = pos_set[pos_set[0].str.contains("N")==False]
neg_set = neg_set[neg_set[0].str.contains("N")==False]

In [7]:
test = pos_set[pos_set[0].isin(neg_set[0])]

In [24]:
pos_set[pos_set.duplicated()]

                                                0
643      TCATTTAATAACCTCCCACCGATTTACGGGGACGCATACA
1552     TACATCAAAGCCAATAACACAACAGCAGTCCTATACGAAC
2260     AAACGTGTCGACGTAGCGTGACAAAGTGAATCACTTGAAA
3111     TGAATCAAAACTATGCCGGCTAGCTTATTGCGGGAGGCCT
4132     CACCAAGACCACGCGCAGCCGCCTCCATCAAACCGTTGAT
...                                           ...
1122900  TAGATCAGAACCTTTGCCACCTCCATAACTGCGCCTTCCA
1122935  TCAATCAACACCACCAGTGCCATGGTGCACCCGACGATGC
1122946  TAAGTTAACAATGACTGAGACGTACGTCTGATAGCACATG
1122960  ATCCCGCACCCGCAGGACAAGCCGGCGAATGCTACCCGAA
1122979  TAAATCAGCGCAACACGTCAATTGCTTTGTGTGGCCGATA

[18257 rows x 1 columns]

['snake/selex_seqs\\DUXA_eDBD_1_KP_TGTGAT40NGCA.flt.fa',
 'snake/selex_seqs\\DUXA_eDBD_2_KP_TGTGAT40NGCA.flt.fa',
 'snake/selex_seqs\\DUXA_eDBD_3_KP_TGTGAT40NGCA.flt.fa',
 'snake/selex_seqs\\DUXA_eDBD_4_KP_TGTGAT40NGCA.flt.fa']