In [1]:
import pandas as pd
import os, shutil

In [2]:
new = pd.read_csv("novel_batch.csv")

In [3]:
new

,TF,snp,oligo_auc,oligo_pval,pbs,pval
0,ALX1,chr4_39045445_G_C,2.326288,1.000000,-2.505769,0.206843
1,ALX1,chr6_55207482_C_T,5.183158,0.516162,-1.226794,0.502566
2,ALX1,chr12_64238141_G_A,3.457080,0.990648,-14.455958,0.000004
3,ALX1,chr13_24789809_G_A,6.097787,0.112729,1.295581,0.342345
4,ALX1,chr4_140856533_A_G,4.003036,0.936092,0.685027,0.702173
...,...,...,...,...,...,...
1048481,ZSCAN4,chr7_130009478_G_A,7.750508,0.000004,-0.711356,0.587102
1048482,ZSCAN4,chrX_53123802_C_T,5.314473,1.000000,-2.023551,0.271299
1048483,ZSCAN4,chr6_53660358_C_T,4.870158,1.000000,-2.816986,0.127775
1048484,ZSCAN4,chr1_173639148_G_T,4.205918,0.989100,0.120432,0.926292
1048485,ZSCAN4,chr1_25990050_G_C,3.570395,1.000000,-2.450214,0.078164

In [8]:
def gen_input(df):
    folder = 'input_tf/'
    for filename in os.listdir(folder):
        file_path = os.path.join(folder, filename)
    try:
        if os.path.isfile(file_path) or os.path.islink(file_path):
            os.unlink(file_path)
        elif os.path.isdir(file_path):
            shutil.rmtree(file_path)
    except Exception as e:
        print('Failed to delete %s. Reason: %s' % (file_path, e))

    tfs = df["TF"].unique()
    for tf in tfs:
        snps =  df[df["TF"]==tf]["snp"]
        snps.to_csv("input_tf/snp_"+tf+".tsv",index=False,header=False)

In [9]:
gen_input(new)

In [117]:
old = pd.read_csv("old_batch.csv")

In [ ]:
old["TF"] = [i[0] for i in old["experiment"].str.split(".")]
old["snp"] = old["oligo"].str.split(":")
old["snp"] = [[i[0],int(i[1].split("-")[0])+20] for i in old["snp"]]
old["snp"] = [ i[0]+"_"+str(i[1]) for i in old["snp"]]
old["snp"] = old[["snp","ref","alt"]].agg("_".join,axis=1)

In [134]:
old

,experiment,oligo,oligo_auc,oligo_pval,ref,alt,ref_auc,alt_auc,pbs,pval,rsid,TF,snp
0,ALX1.FL.6.0.G12,chr10:114386719-114386759,3.025986,0.001328,C,T,1.440242,-1.281543,2.721785,0.317037,rs76124550,ALX1,chr10_114386739_C_T
1,ALX1.FL.6.0.G12,chr10:114386749-114386789,3.672496,0.000492,T,C,-1.629349,0.599751,-2.229100,0.403900,rs115699571,ALX1,chr10_114386769_T_C
2,ALX1.FL.6.0.G12,chr10:114393556-114393596,1.068353,0.042128,T,G,2.041375,-2.329149,4.370524,0.128971,rs703332,ALX1,chr10_114393576_T_G
3,ALX1.FL.6.0.G12,chr10:114619126-114619166,6.308855,0.000020,G,A,1.087764,-0.378694,1.466458,0.570718,rs74156858,ALX1,chr10_114619146_G_A
4,ALX1.FL.6.0.G12,chr10:114693095-114693135,1.441464,0.021576,A,T,0.797774,-0.615194,1.412968,0.584316,rs116045311,ALX1,chr10_114693115_A_T
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1612167,ZNF821.FL.7.1.A6,chrX:153309026-153309066,1.796479,0.040772,C,T,-0.848852,0.422333,-1.271185,0.658737,rs10218386,ZNF821,chrX_153309046_C_T
1612168,ZNF821.FL.7.1.A6,chrX:153310303-153310343,3.158712,0.002340,C,T,0.903536,0.776792,0.126745,0.966324,rs143332436,ZNF821,chrX_153310323_C_T
1612169,ZNF821.FL.7.1.A6,chrX:153316004-153316044,2.959679,0.003712,G,C,0.707471,0.923807,-0.216337,0.938297,rs192424436,ZNF821,chrX_153316024_G_C
1612170,ZNF821.FL.7.1.A6,chrX:153328990-153329030,5.297417,0.000012,C,A,-1.412554,-3.164647,1.752093,0.550216,rs148007267,ZNF821,chrX_153329010_C_A
1612171,ZNF821.FL.7.1.A6,chrX:153399789-153399829,2.353344,0.013904,T,C,1.217324,-0.455197,1.672521,0.567375,rs13440878,ZNF821,chrX_153399809_T_C

In [135]:
gen_input(old)